@charset "UTF-8";

/*
  Paleta de cores
  Verde: #49a09d
  Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 535px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.552);
    transition: width 0.3s, height  0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../Imagens/Metal.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
    padding-bottom: 10px;
}

 div.Campo {
    background-color: #5f2c82;
    display: block;
    border: 2px solid #5f2c82;
    width: 100%;
    height: 39px;
    border-radius: 8px;
    margin: 5px 0px;
}

.Campo > label {
    display: none;
}

form > div.Campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

div.Campo > input {
    background-color: #56c1bd;
    border: none;
    font-size: 1em;
    border-radius: 8px;
    height: 100%;
    padding: 5px;
    width: calc(100% - 44.5px);
    transform: translateY(-11px);
}

div.Campo > input:hover {
    background-color: white;
}

 input[type=submit] {
    display: block;
    font-size: 1.3em;
    margin-top: -5px;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 input[type=submit]:hover {
    background-color: #306b69;
}

 a.botao {
    display: block;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 4px;
    border-radius: 5px;
    background-color: white;
    color: #2d6361;
    text-decoration: none;
}

a.botao:hover {
   background-color: #56c1bd; 
}

a.botao > span {
    font-size: 0.8em;
}

